#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white; /* Cambiar el fondo a blanco */
    padding: 20px; /* Opcional: agregar padding para no pegar el contenido a los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opcional: agregar sombra */
    border-radius: 8px; /* Opcional: agregar bordes redondeados */
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}
  
 
