<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="white">Page not Found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">error</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-img src="./assets/img/naverror.gif"></ion-img>
    <ion-title color="warning">Quizá te perdiste 🧐?</ion-title>
    <ion-text color="warning">
      <h6>presione el botón de abajo para regresar 💖🗿</h6>
    </ion-text>
    <ion-button [routerLink]="[('/home')]" color="warning">Volver al inicio</ion-button>
    
  </div>
</ion-content>
