<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="white">Page not Found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">error</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-img src="./assets/img/naverror.gif"></ion-img>
    <ion-title>La pagina que buscas no existe</ion-title>
    <br>
    <h6>presiona el boton de abajo para volver al inicio</h6>
    <ion-button [routerLink]="[('/home')]" color="warning">Volver al inicio</ion-button>
    
  </div>
</ion-content>
