<ion-header>
  <ion-toolbar  color="warning">
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let viaje of viajes">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ viaje.origen }} → {{ viaje.destino }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Costo por persona:</strong> ${{ viaje.costo }}</p>
          <p><strong>Capacidad restante:</strong> {{ viaje.capacidad }}</p>
          <div id="map-{{ viaje.id }}" style="height: 200px;"></div>
          <ion-button expand="full" color="primary" (click)="tomarViaje(viaje)">Tomar Viaje</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
