<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Crear Viaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles del Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Detalles del Viaje</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-input label="Destino" [(ngModel)]="viaje.destino" placeholder="Ingresa el destino del viaje" required></ion-input>
        <ion-input label="Costo por Persona" [(ngModel)]="viaje.costo" placeholder="Ingresa el costo" type="number" required></ion-input>
        <ion-input label="Capacidad" [(ngModel)]="viaje.capacidad" placeholder="Ingresa la capacidad del vehículo" type="number" required></ion-input>
        <ion-input label="Fecha" [(ngModel)]="viaje.fecha" type="date" required></ion-input>
        
        <ion-button (click)="crearViaje()" expand="full" shape="round">Crear Viaje</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
