<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      TeLlevoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
        <ion-img src="./assets/img/arara.png"></ion-img>
        <ion-input label="Usuario"  [(ngModel)]="user.usuario" labelPlacement="floating" placeholder="Ingresa un usuario valido"
></ion-input>
        <ion-input type="password" label="Password" [(ngModel)]="user.password"  value="Contraseña">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>

          <ion-label>Tipo de rol</ion-label>
          <ion-select [(ngModel)]="selectedRole" name="role" placeholder="Selecciona tu rol" required>
            <ion-select-option value="pasajero">Pasajero</ion-select-option>
            <ion-select-option value="dueno">Conductor</ion-select-option>
          </ion-select>
        
        <div id="cuadroMsj">
          <ion-label>{{msj}}</ion-label>
        </div>
        <div id="seccionCarga" *ngIf="carga">
          <ion-label>Cargando</ion-label>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <ion-button  (click)="conectar()" shape="round">Ingresar</ion-button>
        <ion-button [routerLink]="[('/registro')]"  color="dark" fill="clear">No tienes cuenta? Registrate</ion-button>
        <ion-button [routerLink]="[('/recuperar-pass')]"  color="warning" fill="clear">Recuperar Contraseña</ion-button>
      </ion-card-header>
    </ion-card>    
  </div>
</ion-content>
